body { font-family: Arial, Helvetica, sans-serif; }
h1,h2,h3,h4,h5,h6 { font-family: "Times New Roman", Times, serif; color: #534741; }
a { color: #603813; font-weight: bold; }

/* Page Up/Down Buttons */
#page-link { z-index: 1000; position: absolute; top: 300px; background-color: #000; height: 66px; width: 40px; background: url(images/btns_rail.png) 0 2px no-repeat; }
#page-link a { position: absolute; left: 6px; display: block; height: 0; width: 20px; padding: 20px 0 0; overflow: hidden; background: url(images/btns_updown.png) 0 0 no-repeat; }
#page-link a.link-top { top: 11px; background-position: 0 0; }
#page-link a.link-top:hover { background-position: 0 -20px;; }

#page-link a.link-bottom { top: 35px; background-position: 0 -40px; }
#page-link a.link-bottom:hover { background-position: 0 -60px; }

/* Contents - General */
.wrapper-outer { background: url(images/top_gradient.png) center top repeat-x #EDECE9; width: 100%; min-height: 700px; }
.wrapper-inner { padding: 10px; }
#container { padding: 10px 30px; }
#container h1.title { font-weight: normal; text-transform: uppercase; padding: 0 0 5px; }
#container #breadcrumb { padding: 5px 0; color: #fff; }
#container .compact-link a { padding: 5px; display: block; }
#container-inner { background: url(images/top_inner_gradient.png) center top repeat-x #E0DFD9; border-top: 1px solid #868478; border-left: 1px solid #868478; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
#content { padding: 10px; background-color: #D1D0C6; border-bottom: 1px solid #868478; border-right: 1px solid #868478; border-left: 1px solid #fff; border-top: 1px solid #fff; }

/* Tables */
#content table.sticky-table { width: 100%; }
#content table.sticky-table  tbody { border-top: 2px solid #868478; }
#content table.sticky-table  thead th { border-bottom: 2px solid #868478; }
#content table.sticky-table  tr:hover { background-color: #ccc; }
#content table.sticky-table  tr td { padding: 5px 10px; border-left: 1px solid #868478; border-right: 1px solid #fff; }

#content table.sticky-enabled { width: 100%; }
#content table.sticky-enabled  tbody { border-top: 2px solid #868478; }
#content table.sticky-enabled  thead th { border-bottom: 2px solid #868478; }
#content table.sticky-enabled  tr:hover { background-color: #ccc; }
#content table.sticky-enabled  tr td { padding: 5px 10px; border-left: 1px solid #868478; border-right: 1px solid #fff; }

#content table.system-status-report { width: 100%; }
#content table.system-status-report  tbody { border-top: 2px solid #868478; }
#content table.system-status-report  thead th { border-bottom: 2px solid #868478; }
#content table.system-status-report  tr:hover { background-color: #ccc; }
#content table.system-status-report  tr td { padding: 5px 10px; border-left: 1px solid #868478; border-right: 1px solid #fff; }

/* Collapsible Fieldsets */
#content fieldset { display: block; background-color: #fcfcfc; padding: 15px 10px 10px; margin-bottom: 5px; position: relative; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #868478; border-bottom: 1px solid #868478; }
#content fieldset fieldset { background-color: #f0f0f0; }
#content fieldset legend { position: absolute; margin-top: -13px; font-weight: bold; color: #603813; }
#content fieldset.collapsible legend { margin-top: -10px; }
#content fieldset.collapsed { height: 0 !important; }

#content fieldset .fieldset-wrapper { margin-top: 20px; }
#content fieldset ul { margin-top: 10px !important; }

/* Admin Page */
#content div.admin { padding: 0; }
#content div.admin .left, #content div.admin .right { margin: 0; background: none; width: 49%; }
#content .admin-panel { margin-bottom: 10px; padding: 10px; background-color: #E0DFD9; border-bottom: 1px solid #868478; border-right: 1px solid #868478; border-left: 1px solid #fff; border-top: 1px solid #fff; }
#content .admin-panel h3 { text-shadow: 1px 1px #000; background-color: #534741; color: #C7B299; padding: 0 10px 2px; }
#content .admin-panel div.body { padding: 0; }
#content .admin-panel div.body .description { padding: 5px 10px; }

/* Admin Sub-Pages */
#content dl.admin-list { }
#content dl.admin-list dt { border-top: 1px solid #fff; padding: 5px 5px 0; border-right: 1px solid #868478; border-left: 1px solid #fff; }
#content dl.admin-list dt a { display: block; padding: 0 0 5px;  }
#content dl.admin-list dd { padding: 0 15px 10px; border-bottom: 1px solid #868478; border-right: 1px solid #868478; border-left: 1px solid #fff;}

#content dl.node-type-list { }
#content dl.node-type-list dt { border-top: 1px solid #fff; padding: 5px 5px 0; border-right: 1px solid #868478; border-left: 1px solid #fff; }
#content dl.node-type-list dt a { display: block; padding: 0 0 5px;  }
#content dl.node-type-list dd { padding: 0 15px 10px; border-bottom: 1px solid #868478; border-right: 1px solid #868478; border-left: 1px solid #fff;}

/* Tabs */
#container div.tabs { height: 25px; position: relative; top: -11px; }
#container div.tabs ul.tabs { margin: 0; height: 25px; padding: 0; border: none !important; float: right; }
#container div.tabs ul.tabs li { margin: 0; padding: 0; height: 20px; display: block; float: left; }
#container div.tabs ul.tabs li a { padding: 0 10px; display: block; float: left; height: 20px; line-height: 1.5em; background-color: #333; border-top: 1px solid #868478; border-bottom: 1px solid #868478; border-right: 1px solid #868478; border-left: 1px solid #fff; color: #D1D0C6; }
#container div.tabs ul.tabs li.active a, #container div.tabs ul.tabs li a:hover { background-color: #bbb7ad; border-top: 1px solid #bbb7ad; color: #fff; }

#container div.tabs ul.primary { float: right; }
#container div.tabs ul.secondary { float: left; }

/* Forms */
input[type=text].form-text, textarea.form-textarea { min-width: 150px; }
input[type=text].form-text, textarea.form-textarea, select.form-select { border-left: 1px solid #868478; border-top: 1px solid #868478; padding 2px; color: #666; background-color: #FFFFFF; }
input[type=submit].form-submit { background-color: #534741; color: #666; cursor: pointer; color: #F0EFEC; border-top: 1px solid #C7B299; border-left: 1px solid #C7B299; border-right: 1px solid #333; border-bottom: 1px solid #333; }
input[type=submit].form-submit:hover { background-color: #998675; color: #fff; }

/* Admin-menu */
#edit-admin-menu-tweak-modules-wrapper { margin-top: 20px; }

/* Help */
#container-inner .help { display: block; background-color: #fcfcfc; padding: 10px; margin-bottom: 5px; position: relative; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #868478; border-bottom: 1px solid #868478; }

/* Messages */
#container-inner .messages { margin: 0 0 5px; padding: 10px;  }
